/* All modal styles */
.modal_container {
    background-color: hsl(0, 0%, 0%, 50%);
    position: absolute;
    width: 100vw;
    height: 100vh;
    right: 0vw;
    top: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 75vw;
    height: 60vh;
    background-color: white;
    opacity: 1;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5px;
    box-shadow: 5px 5px 10px 2px hsl(0, 0%, 0%, 25%);
}

.modal_poster_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.modal_poster {
    height: 70%;
}

.modal_information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.modal_logos {
    width: 5%;
}

/* All text styles */
.base {
    font-family:'Times New Roman', Times, serif;
    font-size: smaller;
}

.title {
    font-size: larger;
    font-weight: bold;
}

.exit {
    position: relative;
    left: 74vw;
    bottom: 27vh;
    border: none;
    background: none;
}

.exit:hover {
    font-weight: bold;
    cursor:pointer;
}

.stars {
    margin-top: 5px;
}

.star_container {
    border: none;
    background: none;
}

.star {
    width: 2vw;
}

.star:hover {
    cursor: pointer;
}